# Project exclude paths
/.gradle/
/File Type Analyzer/task/build/
/File Type Analyzer/task/out/
/File Type Analyzer/task/out/production/classes/
/File Type Analyzer/task/out/test/classes/
/Problems/Alice plays letter cubes (v1)/out/
/Problems/Alice plays letter cubes (v1)/out/production/classes/
/Problems/Alice plays letter cubes (v2)/out/
/Problems/Alice plays letter cubes (v2)/out/production/classes/
/Problems/All occurrences/out/
/Problems/All occurrences/out/production/classes/
/Problems/Finding a string in a matrix (v1)/out/
/Problems/Finding a string in a matrix (v1)/out/production/classes/
/Problems/Non-overlapping occurrences/out/
/Problems/Non-overlapping occurrences/out/production/classes/
/Problems/Non-overlapping occurrences (1)/out/
/Problems/Non-overlapping occurrences (1)/out/production/classes/
/Problems/The first occurrence/out/
/Problems/The first occurrence/out/production/classes/